.modal-window {
    position: fixed;
    top: 35px;
    left: 0;
    bottom: 35px;
    height: auto;
    width: 100vw;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    border: 2px solid $title-green
}

.close-button {
    margin-right: 1rem;
    float: right;
    font-size: 2.5em;
    font-weight: bold;
}

.modal-content {
    border-radius: 2rem;
    color: $title-green;
    background-color: #ffffff;
    width: auto;
    height: 100%;
    padding: 0;
    overflow: hidden;
    margin-top: 35px;
    /* animation: schuif-binnen 2s cubic-bezier(.86, .01, .18, 1.03) forwards; */

}

.modal-content{
    img {
        object-fit: cover;
        height: 70%;
        width: 100%;
        border: 0;
    }
}